<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input id="d-input" value="" />
    <button id="d-btn">click me!</button>
    값:<span id="d-div"></span>
  </body>
</html>
<!-- <script src="../src/debounce.js"></script> -->
<script>
  let dInput = document.querySelector("#d-input");
  let dBtn = document.querySelector("#d-btn");
  let dDiv = document.querySelector("#d-div");

  // debounce는 클로저를 활용한 기능이다.
  function debounce(callback, delay = 1000) {
    let timer = null;
    return function (...args) {
      if (timer) {
        clearTimeout(timer);
      }
      timer = setTimeout(() => {
        console.log("debounce....");
        callback(...args);
        clearTimeout(timer);
      }, delay);
    };
  }

  const inputCallback = () => {
    console.log("INPUT CHANGED", dInput.value);
    dDiv.innerText = dInput.value;
  };

  dBtn.addEventListener("click", debounce(inputCallback));
  dInput.addEventListener("change", debounce(inputCallback)); 
  /**
   * change도 됨. focus잃으면 이벤트 발생함.
   * 근데 change로 충분한 곳은 굳이 debounce 안 써도 될 것 같음.
   *   ex. 입력 값 유효성 검사.
   * => debounce는 '실시간으로 이벤트 발생이 필요 + 모든 입력에 대응하진 않아도 될 때'가 적합함.
  */
</script>
