<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button id="j-btn">Just js</button>
    <button id="r-btn">Let's rxjs!</button>
  </body>
</html>
<script src="https://unpkg.com/rxjs@^7/dist/bundles/rxjs.umd.min.js"></script>
<script >
  const { fromEvent} = rxjs;
  const {scan} = rxjs.operators
  let jBtn = document.querySelector("#j-btn");
  let rBtn = document.querySelector("#r-btn");

  /* js로 이벤트 핸들링 */
  // jBtn.addEventListener('click', ()=> console.log("btn clicked."))
  let count = 0
  jBtn.addEventListener('click', () => console.log(`Clicked ${++count} times`))
  
  // /* rxjs로 이벤트 핸들링 */
  // const observable = fromEvent(rBtn, "click");
  // const observer = () => console.log("RXJS btn clicked.");
  // observable.subscribe(observer);
  const observable = fromEvent(rBtn, 'click')
    .pipe(scan(count => count + 1, 0), scan(a => a + 1, 0))
  const observer = d => console.log(`Clicked ${d} times`)
  observable.subscribe(observer)

</script>
