@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*?*/
    background: #6cb1ff;
    width: 100%;
}
.btn{
    padding: 10px 80px;
    font-size: 22px;
    background: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    border-radius: 30px;
    cursor:pointer;

}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    /* top: 50%; */
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.1);
    text-align: center;
    padding: 0 30px 30px;
    height: 330px;
    visibility: hidden;
    transition: transform .4s, top .4s;
}
.open-slide{
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}

.popup ion-icon{
    margin-top: -50px;
    font-size: 100px;
    background: #00ff00;
    border-radius: 50%;
    color: #fff;
    box-shadow: rgba(0,0,0,0.2);
}

.popup h2{
    font-weight: 500;
    font-size: 38px;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #00ff00;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    box-sizing: rgba(0,0,0,0.2)
}