:root{
  /* colors */
  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;

  /* transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
body{
  height: 100vh;
  background: var(--body-color);
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height:  100%;
  width: 250px;
  background: var(--sidebar-color);
}
.sidebar image-text img{
  width: 40px;
}